.invalid-feedback,
.empty-feedback {
  display: none;
}
.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}
.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}
.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

* {
  font-feature-settings: "pwid" on;
}

[type="checkbox"]#menu-controller {
  display: none;
}

/* from tailwindcss-forms v0.5.2
   https://github.com/tailwindlabs/tailwindcss-forms
*/
/* stylelint-disable */
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

div#sectionleft {
    float: left;
    margin-right: 40px;
}
div#sectionright {
    margin: auto;
}